-e git+ssh://git@github.com/radajakub/game-of-life.git@00ab5f768428e946fb466d7b37d11c5b3cc2545d#egg=game_of_life
iniconfig==2.0.0
numpy==2.2.1
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
scipy==1.14.1
setuptools==75.8.0
