alabaster==0.7.16
altgraph==0.17.4
babel==2.16.0
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
coverage==7.6.10
distlib==0.3.9
docutils==0.19
filelock==3.16.1
filetype==1.2.0
flake8==7.1.1
-e git+ssh://git@github.com/radajakub/game-of-life.git@c6febf87544090fd6ede9c1c03b128ef6f230e7c#egg=game_of_life
identify==2.6.5
idna==3.10
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.5
Kivy==2.3.1
Kivy-Garden==0.1.5
macholib==1.16.3
MarkupSafe==3.0.2
mccabe==0.7.0
nodeenv==1.9.1
numpy==2.2.1
packaging==24.2
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-benchmark==5.1.0
pytest-cov==6.0.0
pytest-timeout==2.3.1
PyYAML==6.0.2
requests==2.32.3
responses==0.25.3
rsa==4.9
scipy==1.14.1
setuptools==75.8.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.3.0
virtualenv==20.28.1
